.accordion_card {
    border: 1px solid rgb(204, 204, 204);
    margin: 1rem 0;
    border-radius: 10px;
    background-color: #FCFCFC !important;
  }

  .section {
    margin-bottom: -50px !important;
  }

  ul li::marker {
        font-size: 2rem;  
        color: #007bff;    
    }


    
  @media (max-width: 568px) {
   .header-carousel {
    height: 90vh !important;
   }

   .h1 {
    margin-top: -250px !important ;
   }

   h1 {
    font-size: 3rem !important;
   }

   .h2 {
    font-size: 2rem !important;
   }
  }
  
  
  @media (min-width: 768px) and (max-width: 992px) {
   
  }
  
 