p {
    line-height: 2rem !important;
}

#cards {
  margin-top: -50px !important;
  margin-bottom: -50px !important;
}

.gradient-bg {
  background: linear-gradient(90deg, rgb(53, 143, 247) 45%, rgba(255, 255, 255, 1) 100%);
  margin-left: 50px;
}

.swiper-container {
  padding: 20px 0;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  font-size: 1.5rem;
  list-style-type: none; 
  padding-left: 0;
}

ul li::before {
  content: '●'; 
  color: #007bff; 
  margin-right: 10px;
  font-size: 1.5rem; 
}

@media (max-width: 768px) {
  .cards-width {
      width: 80% !important;
  }

}


@media (max-width: 568px) {
    /* h1 {
      text-align: center !important;
      max-width: 60% !important;
      margin:  0 auto !important;
    }
  
    .fs-5 {
      text-align: center;
    } */

}


@media (min-width: 768px) and (max-width: 992px) {
/* 
  h1 {
      text-align: center !important;
    }
  
    .fs-5 {
      text-align: center;
    }
  
    .hero-form {
      width: 70% !important;
      text-align: center;
      margin: 0 auto;
    } */
      
}


/* Hover effect styles */
.hover-card {
  transition: all 0.3s ease;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.hover-card:hover {
  background-color: var(--bs-primary); 
  color: white;
}
.hover-card:hover .card-img {
  filter: brightness(0) invert(1); 
}
.hover-card:hover .card-text {
  color: white; 
}