.hero_section {
  height: 80vh;
}

@media (max-width: 568px) {
  .hero_section {
    height: 30vh !important;
  }

  .hero_content {
    max-width: 90%;
  }

  .text-md-start {
    margin-left: 20px !important;
  }

  .hero_title {
    font-size: 1.5rem !important;
    font-weight: bold !important;
  }

  .hero_bg {
    margin-top: -80px !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .hero_section {
    height: 100vh !important;
  }

  .hero_content {
    max-width: 80%;
  }

  .text-md-start {
    margin-left: 80px !important;
  }

  .hero_title {
    font-size: 2rem !important;
    font-weight: bold !important;
  }
}
