section,
.section {
  padding: 5px 0 !important;
}

.gradient-bg {
  background: linear-gradient(90deg, rgb(53, 143, 247) 45%, rgba(255, 255, 255, 1) 100%);
  margin-left: 50px;
}

.accordion_card {
  border: 1px solid rgb(204, 204, 204);
  margin: 1rem 0;
  border-radius: 10px;
  background-color: #FCFCFC !important;
}